body {
    background-color: rgb(62, 85, 113);
    font-family: Montserrat;
    color:#f2f2f2;
}
/* trabajo en el titulo */
#titulo {
    text-align: center;
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
}
/*subrayado*/
#titulo::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #fff; 
    margin: 8px auto 0; 
}
/*titulo2*/
#titulo2 {
    text-align: center;
    background-color: #333;
    color: #fff; 
    padding: 10px;
}
/*subrayado*/
#titulo2::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #fff;
    margin: 8px auto 0;
}
#Index {
    text-align: center;
    background-color: red; 
    color: #fff; 
    padding: 10px; 
}
/*subrayado*/
#Index::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #fff; 
    margin: 8px auto 0; 
}

.link-button:hover {
    color:#f2f2f2;
    background-color: #7a7c98;
    box-shadow: 2px 3px #888888;
}

aside {
    float: right;
    width: calc(20% - 20px);
    background: #d3e5db;
    min-height: auto;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}